**/.classpath
**/Dockerfile*
**/.dockerignore*
**/docker-compose*.yml
**/.env
**/.git/
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs/
**/.vscode
**/*.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin/
**/charts
**/compose*
**/node_modules
**/npm-debug.log
**/obj/
**/secrets.dev.yaml
**/values.dev.yaml
infra/
**/global.json
README.md
